{% extends 'base_app.html' %}
{% block titulo %}Alumnos{% endblock titulo %}
{% block centro %}
    <h1 align="center">Listado de los Alumnos</h1>

    <!-- Sidebar Separator do not remove -->
    <div id="da-sidebar-separator"></div>
    <!-- Content Area -->
    <div class="dgtic-panel-header">
        <form method="get">
            <input type="text" name="search" id="search" value="{{ search }}" placeholder="Buscar alumnos">
        </form>
        <div class="row-fluid">
            <div class="span12">
                <div class="da-panel collapsible">
                    <div class="da-panel-header">
                    <span class="da-panel-title">
                        <i class="icol-grid"></i>
                        Tabla de los Alumnos
                    </span>
                    </div>
                    <div class="da-panel-content da-table-container">
                        <table class="da-table checkable">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Tipo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alumno in object_list %}
                                <tr>
                                    <td>{{ alumno.nombre }}</td>
                                    <td>{{ alumno.apellidos }}</td>
                                    <td>{{ alumno.tipo }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock centro %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#rpp').change(function () {
            if (this.value != 0) {
                window.location = '?rpp=' + this.value + '&search=' + $("#search").val();
            }
        });
        $('#search').bind('keyup', function (e) {
            var key = e.keyCode || e.which;
            if (key === 13) {
                window.location.href = '?rpp={{rpp}}&search=' + this.value;
            }
            ;
        });
</script>



