{% extends 'base.html'%}
{% block titulo%}Busqueda de Proyecto{% endblock titulo%}
{%block centro%}
{% load staticfiles %}
<div class="da-container clearfix" style="text-align: center; position: absolute; top: 20%; ">
	<div >
		<img src="{% static "imagenes/logo.png"%}">
	</div>
	<div style="top: 50%;">
		{% if error %}
		<p style="color: #1c0aff;">por favor introduce un termino de busqueda.</p>
		{% endif %}
		<form action="{%url 'u-app-busqueda:listProyectosAlumnos'%}" method="post"> {% csrf_token %}
			<input type="text" name="buscar">
			<input type="submit" value="Buscar" class="btn btn-primary">
		</form>
	</div>
</div>
{%endblock centro%}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar</title>
</head>
<body>
    {% if error %}
        <p style="color: #1c0aff;">por favor introduce un termino de busqueda.</p>
    {% endif %}
    <form action="/app/busqueda/proyectoAlumnos/lista/" method="post"> {% csrf_token %}
        <input type="text" name="buscar">
        <input type="submit" value="Buscar">
    </form>
</body>
</html>